@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #123751;
    --secondary-color: #DCC789;
    --accent1-color: #51342C;
    --accent2-color: #AABD8C;

    --heading-font: 'IM Fell French Canon', serif;
    --paragraph-font: 'Lato', Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #65e7e7;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
}

#background {
    height: 725px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.icon {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--secondary-color); /* Light background for the overall page */
    font-family: Lato, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color); /* Primary color for the header */
}

nav a:hover {
    background-color: var(--accent1-color); /* Accent color for nav links on hover */
}

.book, .join {
    background-color: var(--accent2-color); /* Second accent color for booking and joining buttons */
}

.book:hover, .join:hover {
    background-color: var(--accent1-color); /* First accent color for buttons on hover for a distinct look */
}

.msg {
    background-color: var(--secondary-color); /* Assuming correction for message sections */
}

footer {
    background-color: var(--primary-color); /* Consistent primary color for the footer */
}    
.logo {
    width: 80px;
    /* Add any other necessary styles for the logo */
}

.icon {
    width: 80px;
    /* Add any other necessary styles for the icons */
}
a {
    text-decoration: none;
}
#content-container {
    max-width: 1600px;
    margin: 0 auto; /* Centers the content */
    width: 100%; /* Ensures it takes up full width up to the max */
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
} 
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}